.row {
    height: 100vh;
}

.card-title {
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background-color: #f4f5fa;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    background-color: #f4f5fa;
}

.register-optin {
    margin-top: 35px;
}