{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div style="height: 65vh;
                    background-image: url('static/images/plane.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center"
        >

        </div>
        <div>
            <div>
                Go to vietnam?
            </div>
            <div>
                Chứa các card có hình việt nam
            </div>
        </div>
    </div>
{% endblock %}
