{% extends 'layout/base.html' %}

{% block title %}Chi tiết chuyến{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center align-items-left mt-3 mb-3"
     style="width: 100%"
>
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">
                {% if error_message %}
                <div class="alert-danger">
                    <h3>{{ error_message }}</h3>
                </div>
                {% endif %}
                <h4 class="card-title"
                    style="margin-top: 10px"
                >
                    Thêm hạng ghế
                </h4>
                <p class="card-description">
                    Xin hãy điền đầy đủ thông tin
                </p>
                <form class="forms-sample"
                      method="post"
                      action="{{ url_for('schedule_add_seat') }}"
                      enctype="form-data"
                >
                    <div class="form-group">
                        <label class="font-weight-bold" for="flight-id">Mã chuyến bay</label>
                        <input type="text"
                               class="form-control"
                               name="flight-id"
                               id="flight-id"
                               value="{{flight_id}}"
                               style="background-color: #f4f5fa"
                               readonly
                        >
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="seat_class">Hạng ghế</label>
                        <select class="form-control" id="seat_class" name="seat_class" required
                                style="background-color: #f4f5fa">
                            {% for a in seats %}
                            <option value="{{a.id}}">{{a.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="price">Giá tiền</label>
                        <input type="text"
                               class="form-control"
                               name="price"
                               id="price"
                               required
                               placeholder="Nhập mã chuyến bay"
                               style="background-color: #f4f5fa"
                        >
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="quantity">Số lượng ghế</label>
                        <input type="text"
                               class="form-control"
                               name="quantity"
                               id="quantity"
                               required
                               placeholder="Nhập mã số lượng"
                               style="background-color: #f4f5fa"
                        >
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Thêm vào chuyến</button>
                </form>
            </div>
        </div>
    </div>


</div>
<br><br><br>
<div class="container">
    <h1 class="text-center text-info">Danh sách hạng ghế</h1>
    <table class="table" id="table">
        <tr>
            <th>Mã chuyến bay</th>
            <th>Hạng ghế</th>
            <th>Giá tiền</th>
            <th>Số lượng</th>
        </tr>

        {% for r in all_flight_seats %}
        <tr>
            <td>{{flight_id}}</td>
            <td>{{r.ticket_class['name']}}</td>
            <td>{{r.price}}</td>
            <td>{{r.seat_quantity}}</td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}