{% extends 'layout/base.html' %}

{% block title %}Đặt vé{% endblock %}

{% block js %}
    <script>
        window.onload = () => {
            document.getElementById('returnDay').disabled = true;
        }

        const handleChange = (src) => {
            if(src.value === 'oneTrip')
                document.getElementById('returnDay').disabled = true;
            else
                document.getElementById('returnDay').disabled = false;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-6" style="background-color: red">
                <h1>Bên đây hiện vài cái hình về chuyến bay</h1>
            </div>

            <div class="col-md-6">
                <div class="w-80 shadow" style="background-color: antiquewhite">
                    <form method="post" action="">
                        <div  id="type-of-flight">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio"
                                       class="custom-control-input"
                                       id="oneTrip"
                                       name="typeOfFlight"
                                       value="oneTrip"
                                       checked
                                       onchange="handleChange(this)"
                                >
                                <label class="custom-control-label" for="oneTrip">Một chuyến</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio"
                                       class="custom-control-input"
                                       id="roundTrip"
                                       name="typeOfFlight"
                                       value="roundTrip"
                                       onchange="handleChange(this)"
                                >
                                <label class="custom-control-label" for="roundTrip">Khứ hồi</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Điểm khởi hành</label>
                            <input type="text" name="" placeholder="Điểm khởi hành">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Điểm đến</label>
                            <input type="text" name="" placeholder="Điểm đến">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Ngày đi</label>
                            <input type="date" name="">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Ngày về</label>
                            <input type="date" name="" id="returnDay">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2 mt-2">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Tìm chuyến bay
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}